@{
    ViewBag.Title = "Home Page";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>Seth's Computer Inventory Mangament System</h1>
    <p class="lead">SCIMS is a personal inventory management system for computer hobbyist.</p>
    <img src="~/Content/Assets/ras.jpg" class="img-circle center-block" alt="Raspberry Pi Cluster" width="400">
</div>
<hr style="height:2px;border-width:0;color:black;background-color:black">
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle center-block" src="~/Content/Assets/cpu.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>CPU</h2>
            <p>Stands for "Central Processing Unit." The CPU is the primary component of a computer that processes instructions. It runs the operating system and applications, constantly receiving input from the user or active software programs. It processes the data and produces output, which may stored by an application or displayed on the screen. Definition from </p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle center-block" src="~/Content/Assets/memory.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Memory</h2>
            <p>While memory can refer to any medium of data storage, it usually refers to RAM, or random access memory. When your computer boots up, it loads the operating system into its memory, or RAM. This allows your computer to access system functions, such as handling mouse clicks and keystrokes, since the event handlers are all loaded into RAM. Whenever you open a program, the interface and functions used by that program are also loaded into RAM.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle center-block" src="~/Content/Assets/videocard.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Video Card</h2>
            <p>Most of the processing done on a computer is done via the computer's central processing unit, or CPU. So in order to give the CPU a break and help it run more efficiently, a video card can be used to process the graphics portion of the processing load. Because most of today's programs are graphically oriented, the video card can help almost any program run more efficiently. However, the difference in performance is especially noticeable in image editing applications and 3D games. Definition from </p>

        </div><!-- /.col-lg-4 -->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle center-block" src="~/Content/Assets/Motherboard.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Motherboard</h2>
            <p>The motherboard is the main circuit board of your computer and is also known as the mainboard or logic board. If you ever open your computer, the biggest piece of silicon you see is the motherboard. Attached to the motherboard, you'll find the CPU, ROM, memory RAM expansion slots, PCI slots, and USB ports. It also includes controllers for devices like the hard drive, DVD drive, keyboard, and mouse. Basically, the motherboard is what makes everything in your computer work together. Definition from </p>

        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle center-block" src="~/Content/Assets/powersupplyunit.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Power Supply Unit</h2>
            <p>A power supply is a hardware component that supplies power to an electrical device. It receives power from an electrical outlet and converts the current from AC (alternating current) to DC (direct current), which is what the computer requires. It also regulates the voltage to an adequate amount, which allows the computer to run smoothly without overheating. The power supply an integral part of any computer and must function correctly for the rest of the components to work.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle center-block" src="~/Content/Assets/storage.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Stoarge</h2>
            <p>
                A computer storage device is any type of hardware that stores data. The most common type of storage device, which nearly all computers have, is a hard drive. The computer's primary hard drive stores the operating system, applications, and files and folders for users of the computer.

                While the hard drive is the most ubiquitous of all storage devices, several other types are common as well. Flash memory devices, such as USB keychain drives and iPod nanos are popular ways to store data in a small, mobile format.
            </p>

        </div><!-- /.col-lg-4 -->
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-sm-offset-4">The above definitions come from <a href="https://techterms.com/">The Tech Terms Dictionary</a></div></div>
</div>

   