@{
    ViewBag.Title = "Home Page";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>Computer Inventory </h1>
    <p class="lead">SCIMS is a personal inventory management system for computer hobbyist.</p>
    <img src="~/Content/Assets/ras.jpg" class="img-circle center-block" alt="Raspberry Pi Cluster" width="400">
</div>

<div class="row">
   <div class="col-lg-4">

   </div>
</div>